Face the Numbers - Rules

If your number is green, press the corresponding number on your keyboard
If you press any other key, points will be deducted

If your number is red, press enter
If you press any other key, points will be deducted
If you press the corresponding number on your keyboard, even more points will be deducted

If your number is white, go and have tea

You will also get some random rectangles (as many as your score)